<div [@fadeInOut]="actionBarStatus? 'mouseover' : 'mouseleave'" (mouseenter) ="changeActionBarStatus()"  (mouseleave) ="changeActionBarStatus()" class="action-bar">
    <button mat-raised-button color="primary" class="pull-right options" id="openFullscreen" (click)="openFullscreen()"><mat-icon *ngIf="!fullscreen">fullscreen</mat-icon><mat-icon *ngIf="fullscreen">fullscreen_exit</mat-icon></button>
    <button mat-raised-button color="primary" class="pull-right options" (click)="openSettingsDialog()"><mat-icon>settings</mat-icon></button>
    <button mat-raised-button color="primary" class="pull-right options" (click)="openDialog()">Manage Sources</button>
    <button mat-raised-button color="primary" class="pull-right options" (click)="resetStreams()">Reset Streams</button>
</div>