.feed-list {
    overflow-y: auto;
    max-height: 500px;
    height: 50vh;
    padding: 0px 15px;
}

.feed-thumbnail {
    padding-left: 0px !important;
    width: 100px;
    padding: 2px 0px;
}

.feed-name {
    padding: 0px 15px;
}

.feed-select {
    padding-right: 0px !important;    
}